@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Produtos</h1>
    <p>Clique <a href="https://docs.microsoft.com/aspnet/core">Aqui</a>para começar</p>
</div>
