@using Negocio.Entidades
@{
    ViewData["Title"] = "Novo produto";
}

<div class="alert alert-danger" role="alert">
  @ViewBag.erro
</div>
<hr>

<hr>
<a href="/produtos" class="btn btn-default">Voltar</a>
<hr>

